button {
    border-style: dashed;
    border-color: #800080;
    background-color: #ff00ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 50px;
}
button:hover {
    fill: transparent;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke: #EE3769;
    transform-origin: 50% 50%;
    transform: rotate(-270deg);
    transition: all 2000ms ease;
    border-color:#4b0082;
    background-color:plum;
}